*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: var(--font-size-base);
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  font-family: var(--font-primary);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-regular);
  line-height: 1.5;
  color: var(--color-text);
  background-color: var(--color-white);
}

html,
body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  font-size: 48px;
  line-height: 1.125;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 18px;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

address {
  font-style: normal;
}

img,
picture {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
  border: none;
  background: transparent;
}

figure {
  margin: 0;
}

.wrapper {
  width: 100%;
  max-width: 1320px;
  margin-inline: auto;
  padding-block: 12px;
  padding-inline: 16px;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 48px;
  padding-inline: 24px;
  border-radius: 8px;
  border: 2px solid var(--color-primary);
  font-weight: var(--font-weight-medium);
  font-size: 14px;
  transition: all 0.3s ease;
  gap: 8px;
  font-weight: var(--font-weight-semi-bold);
}

.button--primary {
  color: var(--color-primary);
  background-color: transparent;
}

.button--primary:hover {
  color: var(--color-white);
  background-color: var(--color-primary);
}

.button--secondary {
  color: var(--color-white);
  background-color: var(--color-primary);
}

.button--secondary:hover {
  background-color: var(--color-white);
  color: var(--color-primary);
}

/* header */

.header {
  backdrop-filter: blur(64px);
  background-color: #ffffffbf;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.header .wrapper {
  padding-block: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-navbar__menus {
  display: none;
}

.header-logo__link {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header-logo__link img {
  padding: 16px;
  background-color: var(--color-primary);
  border-radius: 8px;
  box-shadow: 0px 8px 24px 0px #8a43ff3d;
}

.header-logo__text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.header-logo__text span {
  text-transform: uppercase;
  font-size: 12px;
  color: #7b848b;
}

.header-navbar__menus ul {
  display: flex;
  gap: 12px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.mobile-menu-btn {
  width: 48px;
}

.nav__link {
  color: var(--color-text-100);
}

.nav__link:hover {
  text-shadow: 0px 0px 1px var(--color-text);
  transition: text-shadow 0.5s ease;
}

.header-logo__text strong {
  font-size: 20px;
}

.header__action-icon {
  width: 24px;
  height: 24px;
  mask-image: url(../assets/icons/mail.svg);
  -webkit-mask-image: url(../assets/icons/mail.svg);
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  background-color: var(--color-primary);
}

.header__actions a:hover .header__action-icon {
  background-color: var(--color-white);
}

/* footer */

.footer {
  background-color: var(--color-text);
  box-shadow: 0px 1px 0px 0px #2b384c inset;
}

.footer .wrapper {
  padding-block: 40px;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.header-logo__text.only-footer strong {
  color: var(--color-white);
}

.only-footer .nav__link {
  color: #87909d;
}

.header-navbar__menus.only-footer .nav__link:hover {
  color: var(--color-white);
}

.header-navbar__menus.only-footer {
  display: flex;
}

.footer-copyright {
  color: #a5acb5;
  font-size: 14px;
}

@media (min-width: 768px) {
  .footer .wrapper {
    flex-direction: row;
  }

  h1 {
    font-size: 64px;
  }

  h2 {
    font-size: 48px;
  }

  h3 {
    font-size: 20px;
  }
}

@media (min-width: 980px) {
  .header-navbar__menus {
    display: flex;
  }

  .header-navbar__menus,
  .header-navbar__menus ul {
    gap: 32px;
  }

  .mobile-menu-btn {
    display: none;
  }
}
