/* section hero */

.section-hero {
  background-image: url("../assets/icons/sp-hero-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 960px;
  display: grid;
}

.section-hero .wrapper {
  place-self: center;
  margin-top: 120px;
}

.section-hero__title br,
.section-hero__socials-intro br {
  display: none;
}

.section-hero__title span {
  color: #9249f2;
}

.section-hero__description {
  margin-block: 32px;
  font-size: 20px;
  font-weight: 300;
}

.section-hero__actions {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.section-hero__icon-view {
  width: 24px;
  height: 24px;
  mask-image: url(../assets/icons/arrow-right-white.svg);
  -webkit-mask-image: url(../assets/icons/arrow-right-white.svg);
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  background-color: #ffffff;
}

.section-hero__actions a:first-child:hover .section-hero__icon-view {
  background-color: #9249f2;
}

.section-hero__icon-download {
  width: 24px;
  height: 24px;
  mask-image: url(../assets/icons/download.svg);
  -webkit-mask-image: url(../assets/icons/download.svg);
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  background-color: #9249f2;
}

.section-hero__actions a:last-child:hover .section-hero__icon-download {
  background-color: #ffffff;
}

.section-hero__socials {
  place-self: end center;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.32) 0%,
    #ffffff 100%
  );
  border-top: 4px solid #ffffff;
  backdrop-filter: blur(122px);
  padding-block: 32px;
}

.section-hero__socials-wrapper {
  max-width: 1320px;
  margin-inline: auto;
  padding-block: 12px;
  padding-inline: 16px;
}

.section-hero__socials-intro {
  font-size: 24px;
  font-weight: 600;
}

.section-hero__socials-list {
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.section-hero__socials-item {
  padding-block: 16px;
  background: #ffffff;
  backdrop-filter: blur(32px);
  border-radius: 12px;
}

.section-hero__socials-icon {
  display: block;
  width: 150px;
  height: 48px;
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
}

.section-hero__socials-item:hover {
  box-shadow: 0px 16px 48px 0px #1322381f;
  transition: box-shadow 0.3s ease;
}
.section-hero__socials-item:first-child .section-hero__socials-icon {
  mask-image: url(../assets/icons/dribbble.svg);
  -webkit-mask-image: url(../assets/icons/dribbble.svg);
  background-color: #a1a8b0;
}

.section-hero__socials-item:nth-child(2) .section-hero__socials-icon {
  mask-image: url(../assets/icons/microsoft.svg);
  -webkit-mask-image: url(../assets/icons/microsoft.svg);
  background-color: #a2a6af;
}

.section-hero__socials-item:nth-child(3) .section-hero__socials-icon {
  mask-image: url(../assets/icons/spotify.svg);
  -webkit-mask-image: url(../assets/icons/spotify.svg);
  background-color: #a2a6af;
}

.section-hero__socials-item:nth-child(4) .section-hero__socials-icon {
  mask-image: url(../assets/icons/medium.svg);
  -webkit-mask-image: url(../assets/icons/medium.svg);
  background-color: #a4a9af;
}

.section-hero__socials-item:nth-child(5) .section-hero__socials-icon {
  mask-image: url(../assets/icons/tumblr.svg);
  -webkit-mask-image: url(../assets/icons/tumblr.svg);
  background-color: #a1a6ac;
}

.section-hero__socials-item:last-child .section-hero__socials-icon {
  mask-image: url(../assets/icons/google.svg);
  -webkit-mask-image: url(../assets/icons/google.svg);
  background-color: #a4a9af;
}

.section-hero__socials-item:hover .section-hero__socials-icon {
  background-color: #2ebd59;
  transition: background-color 0.3s ease;
}

/* project */

.section-project {
  background: linear-gradient(180deg, #ffffff 0%, #f0f1f3 52.14%);
  backdrop-filter: blur(36px);
  position: relative;
  min-height: 1000px;
  overflow: hidden;
}

.section-project__title {
  text-align: center;
  margin-top: 96px;
}

.project-card__image {
  margin: 0;
}

.project-card__image img {
  object-fit: cover;
}

.section-project__slider {
  position: absolute;
  top: 50%;
  right: -74%;
  transform: translateY(-50%);
  display: flex;
  gap: 16px;
}

.project-card {
  padding: 32px;
  border-radius: 16px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 32px;
  min-width: 300px;
  max-width: 500px;
}

.project-card__content-type {
  font-size: 12px;
  font-weight: 300;
}

.project-card__title {
  font-size: 24px;
  font-weight: 600;
}

.project-card__description {
  color: #556070;
}

.project-card__title,
.project-card__description {
  margin-top: 12px;
}

.project-card__link {
  margin-top: 16px;
  display: inline-flex;
  gap: 8px;
  color: #9249f2;
  font-weight: 600;
}

.section-project__actions {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 16px;
}

.previous-button,
.next-button {
  padding: 16px;
  border-radius: 50%;
  background-color: #ffffff;
}

.previous-button {
  transform: scaleX(-1);
}

.previous-button:hover,
.next-button:hover {
  background-color: #9249f2;
  box-shadow: 0px 12px 48px 0px #8a43ff3d;
}

/* designer */

.section-designer {
  background-image: url("../assets/icons/sp-designer-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-block: 124px;
}

.section-designer .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.section-designer__image {
  flex: 1;
  width: 100%;
}

.section-designer__socials {
  border-radius: 12px;
  padding: 32px;
  display: flex;
  gap: 16px;
  flex-direction: column;
  border: 3px solid #ffffff;
  backdrop-filter: blur(32px);
  box-shadow: 0px 24px 88px 0px #13223814;
  background-color: #ffffffb2;
  width: fit-content;
}

.section-designer__content {
  width: 100%;
  flex: 1;
}

.section-designer__socials-list {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.section-designer__socials-list li {
  border-radius: 4px;
  padding: 14px;
  background-color: #ffffff;
}

.section-designer__socials-list li:nth-child(4) {
  background:
    radial-gradient(130.55% 130.54% at 13.29% 100.47%, #fa8f21 9%, #d82d7e 78%),
    radial-gradient(
      102.89% 102.88% at 60.65% 104.95%,
      rgba(140, 58, 170, 0) 64%,
      #8c3aaa 100%
    );
}

.section-designer__content-type {
  display: flex;
  gap: 24px;
}

.section-designer__content-type li:first-child {
  color: #cf5955;
}

.section-designer__content-type li:nth-child(2) {
  color: #1777e5;
}

.section-designer__content-type li:last-child {
  color: #9249f2;
}

.section-designer__content-title {
  margin-top: 12px;
  font-size: 36px;
}

.section-designer__content-first {
  margin-top: 32px;
}

.section-designer__content-second {
  margin-top: 12px;
}

.section-designer__content-first,
.section-designer__content-second {
  font-weight: 300;
  font-size: 18px;
}

.section-designer__content a {
  margin-top: 32px;
}

.section-designer__icon-button {
  width: 24px;
  height: 24px;
  mask-image: url(../assets/icons/download.svg);
  -webkit-mask-image: url(../assets/icons/download.svg);
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  background-color: #ffffff;
}

.section-designer__content a:hover .section-designer__icon-button {
  background-color: #9249f2;
}

/* award */
.section-award {
  background: #ffffff;
  box-shadow: inset 0px 2px 0px #eaf7ed;
  padding-block: 124px;
}

.section-award__subtitle {
  margin-top: 24px;
  font-size: 18px;
  font-weight: 300;
}

.section-award__subtitle br {
  display: none;
}

.section-award__cards {
  margin-top: 90px;
  display: flex;
  gap: 24px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.section-award__item {
  border-radius: 12px;
  background-color: #ffffff;
  width: 100%;
  padding: 36px;
}

.section-award__item:hover {
  box-shadow: 0px 32px 88px 0px #8a43ff1f;
}

.section-award__item-image {
  margin-top: -68px;
}

.section-award__item-title {
  font-size: 20px;
  margin-top: 32px;
}

.section-award__item-description {
  font-size: 16px;
  color: #424e60;
  margin-top: 12px;
}

/* services */
.section-services {
  padding-block: 124px;
  background: linear-gradient(
    180deg,
    rgba(243, 236, 255, 0.4) 0%,
    rgba(243, 236, 255, 0) 100%
  );
}

.section-services .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 36px;
}

.section-services__content {
  max-width: 536px;
}

.section-services__cards {
  align-items: center;
}

.section-services__badge {
  padding: 10px 16px;
  border-radius: 4px;
  font-size: 14px;
  text-transform: uppercase;
  background-color: #ffe876;
}

.section-services__tilte {
  margin-top: 24px;
  margin-bottom: 32px;
}

.section-services__description {
  font-size: 18px;
  font-weight: 300;
}

.section-services__description:last-child {
  margin-top: 16px;
}

.section-services__content a {
  margin-top: 32px;
  border-radius: 0;
  padding-inline: 36px;
  padding-block: 22px;
}

.section-services__icon-button {
  width: 24px;
  height: 24px;
  mask-image: url(../assets/icons/arrow-right-white.svg);
  -webkit-mask-image: url(../assets/icons/arrow-right-white.svg);
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  background-color: #ffffff;
}

.section-services__content a:hover .section-services__icon-button {
  background-color: #9249f2;
}

.section-services__cards {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.section-services__item {
  border-radius: 16px;
  padding: 32px;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  max-width: 536px;
  width: 100%;
}

.section-services__item:first-child {
  box-shadow: 0px 24px 88px 0px #13223814;
}

.section-services__item:nth-child(2) {
  border: 4px solid #e8f1fc;
}

.section-services__item:last-child {
  border: 4px solid #ffefef;
}

.section-services__item-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.section-services__item-content h2 {
  font-size: 20px;
}

.section-services__item-content p {
  font-size: 14px;
  font-weight: 300;
  color: #556070;
}

/* Process */

.section-process {
  padding-block: 124px;
  background: linear-gradient(
    180deg,
    rgba(232, 241, 252, 0.6) 0%,
    rgba(232, 241, 252, 0) 100%
  );
}

.section-process__title {
  text-align: center;
}

.section-process__subtitle {
  margin-top: 24px;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}

.section-process__subtitle br {
  display: none;
}

.section-process__cards {
  margin-top: 64px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

.section-process__item {
  padding: 32px;
  border-radius: 16px;
  background-color: #ffffff;
  width: 100%;
}

.section-process__item:hover {
  box-shadow: 0px 24px 88px 0px #1777e529;
}

.section-process__item img {
  padding: 24px;
  border-radius: 100px;
  background-color: #ffffff;
}

.section-process__item:first-child img {
  box-shadow: 0px 16px 48px 0px #8a43ff29;
}

.section-process__item:nth-child(2) img {
  box-shadow: 0px 12px 56px 0px #1777e57a;
  background-color: #1777e5;
}

.section-process__item:nth-child(3) img {
  box-shadow: 0px 16px 48px 0px #ff944d29;
}

.section-process__item:last-child img {
  box-shadow: 0px 16px 48px 0px #2db24a29;
}

.section-process__item-title {
  margin-top: 32px;
  font-size: 18px;
}

.section-process__item-description {
  margin-top: 12px;
  font-size: 14px;
  font-weight: 300;
  color: #424e60;
}

/* section power */

.section-power {
  box-shadow: inset 0px 2px 0px #fff4ed;
  padding-block: 168px;
  background-image: url("../assets/icons/sp-power-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-power .wrapper {
  display: flex;
  flex-direction: column;
  gap: 36px;
  justify-content: center;
}

.section-power__image {
  align-items: end;
  flex: 1;
  width: 100%;
}

.section-power__image figure {
  position: relative;
}

.section-power__content {
  flex: 1;
  width: 100%;
  margin: auto;
}

.section-power__subtitle {
  margin-top: 24px;
  font-size: 18px;
  font-weight: 300;
}

.section-power__progress {
  margin-top: 12px;
}

.section-power__progress-item {
  margin-top: 36px;
}

.section-power__progress-item span {
  display: flex;
}

.section-power__progress-item span {
  display: flex;
  gap: 12px;
  font-size: 18px;
  width: 100%;
}

.section-power__progress-item span:last-child {
  justify-content: flex-end;
}

.section-power__progress-item progress {
  appearance: none;
  width: 100%;
  height: 4px;
}

.progress-one span:last-child {
  color: #9249f2;
}

.progress-one progress::-webkit-progress-bar {
  background-color: #e9dbfc;
  border-radius: 100px;
}

.progress-one progress::-webkit-progress-value {
  background-color: #9249f2;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}

.progress-two span:last-child {
  color: #1777e5;
}

.progress-two progress::-webkit-progress-bar {
  background-color: #d1e4fa;
  border-radius: 100px;
}

.progress-two progress::-webkit-progress-value {
  background-color: #1777e5;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}

.progress-three span:last-child {
  color: #2db24a;
}

.progress-three progress::-webkit-progress-bar {
  background-color: #d5f0db;
  border-radius: 100px;
}

.progress-three progress::-webkit-progress-value {
  background-color: #2db24a;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}

.progress-four span:last-child {
  color: #ff5f49;
}

.progress-four progress::-webkit-progress-bar {
  background-color: #ffdede;
  border-radius: 100px;
}

.progress-four progress::-webkit-progress-value {
  background-color: #ff5f49;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}

.section-power__image-bg {
  width: 536px;
  height: 536px;
  object-fit: cover;
  margin: auto;
}

.section-designer__socials-list.only-power li:nth-child(4) {
  background: #ffffff;
}

/* section testimonial */

.section-testimonial {
  padding-block: 124px;
  background: linear-gradient(
    180deg,
    rgba(240, 241, 243, 0.6) 0%,
    rgba(243, 236, 255, 0.6) 100%
  );
}

.section-testimonial__title {
  text-align: center;
}

.section-testimonial__subtitle {
  margin-top: 24px;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}

.section-testimonial__subtitle br {
  display: none;
}

.section-testimonial__content {
  min-height: 670px;
  width: 100%;
  position: relative;
  overflow-x: hidden;
}

.section-testimonial__slider-wrapper {
  margin-top: 114px;
  position: absolute;
  width: 100%;
}

.section-testimonial__slider {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.section-testimonial__slider-item {
  background-color: #ffffff;
  opacity: 0.6;
  border-radius: 16px;
  padding: 40px;
  width: 648px;
  text-align: center;
  transition:
    transform 0.4s ease,
    padding-bottom 0.4s ease;
  flex-shrink: 0;
}

.section-testimonial__slider-item:hover {
  box-shadow: 0px 40px 64px 0px #13223814;
  opacity: 1;
  transform: translateY(-50px);
}

.section-testimonial__item-img {
  margin: auto;
  margin-top: -68px;
}

.section-testimonial__item-content {
  font-size: 20px;
  font-weight: 300;
  margin-top: 40px;
}

.section-testimonial__item-name {
  margin-top: 32px;
  font-size: 20px;
}

.section-testimonial__item-nickname {
  font-size: 14px;
  font-weight: 300;
}

.section-testimonial__item-nickname span {
  font-size: 20px;
}

.section-project__actions.only-testimonial {
  bottom: -36%;
}

/* section idea */

.section-idea {
  padding-block: 124px;
  background-image: url("../assets/icons/pc-idea-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-idea__title {
  color: #ffffff;
}

.section-idea__description {
  font-size: 24px;
  color: #ffffff;
  font-weight: 300;
  margin-top: 24px;
}

.section-idea .wrapper a {
  margin-top: 40px;
  background-color: #ffd91a;
  color: #132238;
  padding-block: 24px;
  border-radius: 12px;
  padding-inline: 36px;
}

.section-idea__title br,
.section-idea__description br {
  display: none;
}

.section-idea .wrapper a:hover {
  background-color: #ffffff;
}

.section-idea__icon-button {
  width: 24px;
  height: 24px;
  mask-image: url(../assets/icons/arrow-right-white.svg);
  -webkit-mask-image: url(../assets/icons/arrow-right-white.svg);
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  background-color: #ffffff;
}

.section-idea .wrapper a:hover .section-idea__icon-button {
  background-color: #ffd91a;
}

/* section article */
.section-articles {
  padding-block: 124px;
  background-image: url("../assets/icons/pc-article-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-articles__title {
  text-align: center;
}

.section-articles__description {
  font-size: 18px;
  font-weight: 300;
  margin-top: 24px;
  text-align: center;
}

.section-articles__cards {
  margin-top: 64px;
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.section-articles__item {
  width: calc(429px - 24px * 2 / 3);
  padding: 32px;
  border-radius: 14px;
  background-color: #ffffff;
}

.section-articles__item:hover {
  box-shadow: 0px 24px 64px 0px #1322381f;
}

.section-articles__item-img {
  object-fit: cover;
  width: 360px;
  height: 312px;
}

.section-articles__item-date {
  margin-top: 32px;
  display: flex;
  gap: 20px;
}

.section-articles__item-date time,
.section-articles__item-date span {
  display: inline-flex;
  gap: 8px;
}

.section-articles__item-title {
  margin-top: 12px;
}

.section-articles__item-description {
  margin-top: 16px;
  color: #424e60;
  font-size: 14px;
  font-weight: 300;
}

.section-articles__item a {
  margin-top: 30px;
}

.section-articles__icon-button {
  width: 24px;
  height: 24px;
  mask-image: url(../assets/icons/arrow-right-white.svg);
  -webkit-mask-image: url(../assets/icons/arrow-right-white.svg);
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  background-color: #9249f2;
}

.section-articles__item a:hover .section-articles__icon-button {
  background-color: #ffffff;
}

/* section-contact */

@media (min-width: 375px) {
  /* process */
  .section-process__item {
    width: calc(322px - 24px * 3 / 4);
  }
}

@media (min-width: 768px) {
  .section-project__slider {
    right: -10%;
    gap: 24px;
  }

  .project-card {
    min-width: 450px;
  }

  /* award */

  .section-award__subtitle br {
    display: block;
  }

  /* award */

  .section-award__item {
    width: calc(424px - 24px * 2);
  }

  /* process */
  .section-process__subtitle br {
    display: block;
  }

  /* section hero */

  .section-hero {
    background-image: url("../assets/icons/hero-bg.png");
    min-height: 1206px;
    align-items: center;
  }

  .section-hero__socials {
    padding-block: 64px;
  }

  .section-hero__socials-icon {
    width: 180px;
    height: 64px;
  }

  .section-hero__content {
    max-width: 554px;
  }

  .section-hero__title br,
  .section-hero__socials-intro br,
  .section-testimonial__subtitle br,
  .section-idea__title br,
  .section-idea__description br {
    display: block;
  }
}

@media (min-width: 980px) {
  .section-designer {
    padding-block: 124px;
  }

  .section-designer .wrapper {
    flex-direction: row;
    align-items: flex-end;
  }

  /* services */

  .section-services .wrapper {
    flex-direction: row;
  }

  .section-services__cards {
    align-items: end;
  }

  /* section power */

  .section-power {
    background-image: url("../assets/icons/pc-power-bg.png");
  }

  .section-power .wrapper {
    flex-direction: row;
    align-items: flex-end;
  }

  .section-power__content {
    max-width: 536px;
  }

  /* designer */

  .section-designer__content {
    max-width: 536px;
  }

  .section-designer {
    background-image: url("../assets/icons/pc-designer-bg.png");
  }

  .section-designer__socials {
    margin-left: 26%;
    margin-bottom: 6%;
  }
}
