/* section hero */

.section-hero {
  background-image: url("../assets/icons/sp-hero-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-hero .wrapper {
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.section-hero__content {
  text-align: center;
}

.section-hero__image {
  margin: auto;
}

.section-hero__image img {
  width: 100%;
  object-fit: cover;
}

.section-hero__title br,
.section-hero__socials-intro br {
  display: none;
}

.section-hero__title span {
  color: #9249f2;
}

.section-hero__description {
  margin-block: 32px;
  font-size: 20px;
  font-weight: 300;
}

.section-hero__actions {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
}

.section-hero__icon-view {
  width: 24px;
  height: 24px;
  mask-image: url(../assets/icons/arrow-right-white.svg);
  -webkit-mask-image: url(../assets/icons/arrow-right-white.svg);
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  background-color: #ffffff;
}

.section-hero__actions a:first-child:hover .section-hero__icon-view {
  background-color: #9249f2;
}

.section-hero__icon-download {
  width: 24px;
  height: 24px;
  mask-image: url(../assets/icons/download.svg);
  -webkit-mask-image: url(../assets/icons/download.svg);
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  background-color: #9249f2;
}

.section-hero__actions a:last-child:hover .section-hero__icon-download {
  background-color: #ffffff;
}

.section-hero__socials {
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.32) 0%,
    #ffffff 100%
  );
  border-top: 4px solid #ffffff;
  backdrop-filter: blur(122px);
  padding-block: 32px;
  margin-top: -320px;
}

.section-hero__socials-wrapper {
  max-width: 1320px;
  margin-inline: auto;
  padding-block: 12px;
  padding-inline: 16px;
}

.section-hero__socials-intro {
  font-size: 24px;
  font-weight: 600;
}

.section-hero__socials-list {
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

.section-hero__socials-item {
  padding-block: 16px;
  background: #ffffff;
  backdrop-filter: blur(32px);
  border-radius: 12px;
  width: calc(214px - 24px * 5 / 6);
  position: relative;
  height: 96px;
}

.section-hero__socials-item:hover {
  box-shadow: 0px 16px 48px 0px #1322381f;
  transition: box-shadow 0.3s ease;
}

.section-hero__image-default,
.section-hero__image-hover {
  position: absolute;
  width: 100%;
  height: 64px;
  object-fit: cover;
  transition: opacity 0.3s ease;
}

.section-hero__image-default {
  opacity: 1;
}

.section-hero__image-hover {
  opacity: 0;
}

.section-hero__socials-item:hover .section-hero__image-default {
  opacity: 0;
}
.section-hero__socials-item:hover .section-hero__image-hover {
  opacity: 1;
}

/* project */

.section-project {
  background: linear-gradient(180deg, #ffffff 0%, #f0f1f3 52.14%);
  backdrop-filter: blur(36px);
  position: relative;
  min-height: 1000px;
  overflow: hidden;
}

.section-project__title {
  text-align: center;
  margin-top: 96px;
}

.project-card__image {
  margin: 0;
}

.project-card__image img {
  object-fit: cover;
}

.section-project__slider {
  position: absolute;
  top: 50%;
  right: -74%;
  transform: translateY(-50%);
  display: flex;
  gap: 16px;
}

.project-card {
  padding: 32px;
  border-radius: 16px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 32px;
  min-width: 300px;
  max-width: 500px;
}

.project-card__content-type {
  font-size: 12px;
  font-weight: 300;
}

.project-card__title {
  font-size: 24px;
  font-weight: 600;
}

.project-card__description {
  color: #556070;
}

.project-card__title,
.project-card__description {
  margin-top: 12px;
}

.project-card__link {
  margin-top: 16px;
  display: inline-flex;
  gap: 8px;
  color: #9249f2;
  font-weight: 600;
}

.section-project__actions {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 16px;
}

.previous-button,
.next-button {
  padding: 16px;
  border-radius: 50%;
  background-color: #ffffff;
}

.previous-button {
  transform: scaleX(-1);
}

.previous-button:hover,
.next-button:hover {
  background-color: #9249f2;
  box-shadow: 0px 12px 48px 0px #8a43ff3d;
}

/* designer */

.section-designer {
  background-image: url("../assets/icons/sp-designer-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-block: 68px;
}

.section-designer .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.section-designer__image {
  position: relative;
}

.section-designer__image-bg img {
  width: 100%;
  height: 658px;
  object-fit: cover;
}

.section-designer__socials {
  border-radius: 12px;
  padding: 32px;
  display: flex;
  gap: 16px;
  flex-direction: column;
  border: 3px solid #ffffff;
  backdrop-filter: blur(32px);
  box-shadow: 0px 24px 88px 0px #13223814;
  background-color: #ffffffb2;
  width: 100%;
  position: absolute;
  bottom: 32px;
  left: 0;
}

.section-designer__content {
  width: 100%;
  flex: 1;
}

.section-designer__socials-list {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section-designer__socials-list li {
  border-radius: 4px;
  padding: 14px;
  background-color: #ffffff;
}

.section-designer__socials-list li:nth-child(4) {
  background:
    radial-gradient(130.55% 130.54% at 13.29% 100.47%, #fa8f21 9%, #d82d7e 78%),
    radial-gradient(
      102.89% 102.88% at 60.65% 104.95%,
      rgba(140, 58, 170, 0) 64%,
      #8c3aaa 100%
    );
}

.section-designer__content-type {
  display: flex;
  gap: 24px;
}

.section-designer__content-type li:first-child {
  color: #cf5955;
}

.section-designer__content-type li:nth-child(2) {
  color: #1777e5;
}

.section-designer__content-type li:last-child {
  color: #9249f2;
}

.section-designer__content-title {
  margin-top: 12px;
  font-size: 36px;
}

.section-designer__content-first {
  margin-top: 32px;
}

.section-designer__content-second {
  margin-top: 12px;
}

.section-designer__content-first,
.section-designer__content-second {
  font-weight: 300;
  font-size: 18px;
}

.section-designer__content a {
  margin-top: 32px;
}

.section-designer__icon-button {
  width: 24px;
  height: 24px;
  mask-image: url(../assets/icons/download.svg);
  -webkit-mask-image: url(../assets/icons/download.svg);
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  background-color: #ffffff;
}

.section-designer__content a:hover .section-designer__icon-button {
  background-color: #9249f2;
}

/* award */
.section-award {
  background: #ffffff;
  box-shadow: inset 0px 2px 0px #eaf7ed;
  padding-block: 68px;
}

.section-award__subtitle {
  margin-top: 24px;
  font-size: 18px;
  font-weight: 300;
}

.section-award__subtitle br {
  display: none;
}

.section-award__cards {
  margin-top: 90px;
  display: flex;
  gap: 24px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.section-award__item {
  border-radius: 12px;
  background-color: #ffffff;
  width: 100%;
  padding: 36px;
  margin-top: 16px;
}

.section-award__item:hover {
  box-shadow: 0px 32px 88px 0px #8a43ff1f;
}

.section-award__item-image {
  margin-top: -68px;
}

.section-award__item-title {
  font-size: 20px;
  margin-top: 32px;
}

.section-award__item-description {
  font-size: 16px;
  color: #424e60;
  margin-top: 12px;
}

/* services */
.section-services {
  padding-block: 68px;
  background: linear-gradient(
    180deg,
    rgba(243, 236, 255, 0.4) 0%,
    rgba(243, 236, 255, 0) 100%
  );
}

.section-services .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 36px;
}

.section-services__content {
  max-width: 536px;
}

.section-services__cards {
  align-items: center;
}

.section-services__badge {
  padding: 10px 16px;
  border-radius: 4px;
  font-size: 14px;
  text-transform: uppercase;
  background-color: #ffe876;
}

.section-services__tilte {
  margin-top: 24px;
  margin-bottom: 32px;
}

.section-services__description {
  font-size: 18px;
  font-weight: 300;
}

.section-services__description:last-child {
  margin-top: 16px;
}

.section-services__content a {
  margin-top: 32px;
  border-radius: 0;
  padding-inline: 36px;
  padding-block: 22px;
}

.section-services__icon-button {
  width: 24px;
  height: 24px;
  mask-image: url(../assets/icons/arrow-right-white.svg);
  -webkit-mask-image: url(../assets/icons/arrow-right-white.svg);
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  background-color: #ffffff;
}

.section-services__content a:hover .section-services__icon-button {
  background-color: #9249f2;
}

.section-services__cards {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.section-services__item {
  border-radius: 16px;
  padding: 32px;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  max-width: 536px;
  width: 100%;
}

.section-services__item:first-child {
  box-shadow: 0px 24px 88px 0px #13223814;
}

.section-services__item:nth-child(2) {
  border: 4px solid #e8f1fc;
}

.section-services__item:last-child {
  border: 4px solid #ffefef;
}

.section-services__item-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.section-services__item-content h2 {
  font-size: 20px;
}

.section-services__item-content p {
  font-size: 14px;
  font-weight: 300;
  color: #556070;
}

/* Process */

.section-process {
  padding-block: 68px;
  background: linear-gradient(
    180deg,
    rgba(232, 241, 252, 0.6) 0%,
    rgba(232, 241, 252, 0) 100%
  );
}

.section-process__title {
  text-align: center;
}

.section-process__subtitle {
  margin-top: 24px;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}

.section-process__subtitle br {
  display: none;
}

.section-process__cards {
  margin-top: 64px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

.section-process__item {
  padding: 32px;
  border-radius: 16px;
  background-color: #ffffff;
  width: 100%;
}

.section-process__item:hover {
  box-shadow: 0px 24px 88px 0px #1777e529;
}

.section-process__item img {
  padding: 24px;
  border-radius: 100px;
  background-color: #ffffff;
}

.section-process__item:first-child img {
  box-shadow: 0px 16px 48px 0px #8a43ff29;
}

.section-process__item:nth-child(2) img {
  box-shadow: 0px 12px 56px 0px #1777e57a;
  background-color: #1777e5;
}

.section-process__item:nth-child(3) img {
  box-shadow: 0px 16px 48px 0px #ff944d29;
}

.section-process__item:last-child img {
  box-shadow: 0px 16px 48px 0px #2db24a29;
}

.section-process__item-title {
  margin-top: 32px;
  font-size: 18px;
}

.section-process__item-description {
  margin-top: 12px;
  font-size: 14px;
  font-weight: 300;
  color: #424e60;
}

/* section power */

.section-power {
  box-shadow: inset 0px 2px 0px #fff4ed;
  padding-block: 68px;
  background-image: url("../assets/icons/sp-power-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-power .wrapper {
  display: flex;
  flex-direction: column;
  gap: 36px;
  justify-content: space-between;
}

.section-power__image {
  flex: 1;
  width: 100%;
  position: relative;
}

.section-power__image-bg img {
  object-fit: cover;
}

.section-power__content {
  flex: 1;
  width: 100%;
  margin: auto;
}

.section-power__subtitle {
  margin-top: 24px;
  font-size: 18px;
  font-weight: 300;
}

.section-power__progress {
  margin-top: 12px;
}

.section-power__progress-item {
  margin-top: 36px;
}

.section-power__progress-item p {
  display: flex;
  gap: 12px;
  font-size: 18px;
  width: 100%;
  justify-content: space-between;
}
.section-power__progress-item p > span:first-child {
  display: flex;
  width: 100%;
  gap: 8px;
}

.section-power__progress-item progress {
  appearance: none;
  width: 100%;
  height: 4px;
}

.progress-one p > span:last-child {
  color: #9249f2;
}

.progress-one progress::-webkit-progress-bar {
  background-color: #e9dbfc;
  border-radius: 100px;
}

.progress-one progress::-webkit-progress-value {
  background-color: #9249f2;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}

.progress-two p > span:last-child {
  color: #1777e5;
}

.progress-two progress::-webkit-progress-bar {
  background-color: #d1e4fa;
  border-radius: 100px;
}

.progress-two progress::-webkit-progress-value {
  background-color: #1777e5;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}

.progress-three p > span:last-child {
  color: #2db24a;
}

.progress-three progress::-webkit-progress-bar {
  background-color: #d5f0db;
  border-radius: 100px;
}

.progress-three progress::-webkit-progress-value {
  background-color: #2db24a;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}

.progress-four p > span:last-child {
  color: #ff5f49;
}

.progress-four progress::-webkit-progress-bar {
  background-color: #ffdede;
  border-radius: 100px;
}

.progress-four progress::-webkit-progress-value {
  background-color: #ff5f49;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}

.section-power__image-bg {
  width: 100%;
  object-fit: cover;
  margin: auto;
}

.section-designer__socials-list.only-power li:nth-child(4) {
  background: #ffffff;
}

/* section testimonial */

.section-testimonial {
  padding-block: 124px;
  background: linear-gradient(
    180deg,
    rgba(240, 241, 243, 0.6) 0%,
    rgba(243, 236, 255, 0.6) 100%
  );
}

.section-testimonial__title {
  text-align: center;
}

.section-testimonial__subtitle {
  margin-top: 24px;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}

.section-testimonial__subtitle br {
  display: none;
}

.section-testimonial__content {
  min-height: 670px;
  width: 100%;
  position: relative;
  overflow-x: hidden;
}

.section-testimonial__slider-wrapper {
  margin-top: 114px;
  position: absolute;
  width: 100%;
}

.section-testimonial__slider {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.section-testimonial__slider-item {
  background-color: #ffffff;
  opacity: 0.6;
  border-radius: 16px;
  padding: 40px;
  width: 648px;
  text-align: center;
  transition:
    transform 0.4s ease,
    padding-bottom 0.4s ease;
  flex-shrink: 0;
}

.section-testimonial__slider-item:hover {
  box-shadow: 0px 40px 64px 0px #13223814;
  opacity: 1;
  transform: translateY(-50px);
}

.section-testimonial__item-img {
  margin: auto;
  margin-top: -68px;
}

.section-testimonial__item-content {
  font-size: 20px;
  font-weight: 300;
  margin-top: 40px;
}

.section-testimonial__item-name {
  margin-top: 32px;
  font-size: 20px;
}

.section-testimonial__item-nickname {
  font-size: 14px;
  font-weight: 300;
}

.section-testimonial__item-nickname span {
  font-size: 20px;
}

.section-project__actions.only-testimonial {
  bottom: -36%;
}

/* section idea */

.section-idea {
  padding-block: 124px;
  background-image: url("../assets/icons/pc-idea-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-idea__title {
  color: #ffffff;
}

.section-idea__description {
  font-size: 24px;
  color: #ffffff;
  font-weight: 300;
  margin-top: 24px;
}

.section-idea .wrapper a {
  margin-top: 40px;
  background-color: #ffd91a;
  color: #132238;
  padding-block: 24px;
  border-radius: 12px;
  padding-inline: 36px;
}

.section-idea__title br,
.section-idea__description br {
  display: none;
}

.section-idea .wrapper a:hover {
  background-color: #ffffff;
}

.section-idea__icon-button {
  width: 24px;
  height: 24px;
  mask-image: url(../assets/icons/arrow-right-white.svg);
  -webkit-mask-image: url(../assets/icons/arrow-right-white.svg);
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  background-color: #ffffff;
}

.section-idea .wrapper a:hover .section-idea__icon-button {
  background-color: #ffd91a;
}

/* section article */
.section-articles {
  padding-block: 68px;
  background: linear-gradient(180deg, #f0f1f3 0%, rgba(240, 241, 243, 0) 100%);
}

.section-articles__title {
  text-align: center;
}

.section-articles__description {
  font-size: 18px;
  font-weight: 300;
  margin-top: 24px;
  text-align: center;
}

.section-articles__cards {
  margin-top: 64px;
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.section-articles__item {
  width: 100%;
  padding: 32px;
  border-radius: 14px;
  background-color: #ffffff;
}

.section-articles__item:hover {
  box-shadow: 0px 24px 64px 0px #1322381f;
}

.section-articles__item-img {
  object-fit: cover;
  width: 360px;
  height: 312px;
  margin: auto;
}

.section-articles__item-date {
  margin-top: 32px;
  display: flex;
  gap: 20px;
}

.section-articles__item-date time,
.section-articles__item-date span {
  display: inline-flex;
  gap: 8px;
}

.section-articles__item-title {
  margin-top: 12px;
}

.section-articles__item-description {
  margin-top: 16px;
  color: #424e60;
  font-size: 14px;
  font-weight: 300;
}

.section-articles__item a {
  margin-top: 30px;
}

.section-articles__icon-button {
  width: 24px;
  height: 24px;
  mask-image: url(../assets/icons/arrow-right-white.svg);
  -webkit-mask-image: url(../assets/icons/arrow-right-white.svg);
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  background-color: #9249f2;
}

.section-articles__item a:hover .section-articles__icon-button {
  background-color: #ffffff;
}

/* section contact */

.section-contact {
  position: relative;
  min-height: calc(1114px + 16px * 2);
}

.section-contact .wrapper {
  padding: 16px;
  box-shadow: 0px 48px 88px 0px #1322381f;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  top: 0;
  background-color: #ffffff;
}

.section-contact-bg {
  position: absolute;
  height: 184px;
  width: 100%;
  bottom: 0;
  z-index: 1;
  background-color: #132238;
}

.section-contact__content {
  width: 100%;
}

.section-contact__content-title {
  font-size: 24px;
}

.section-contact__content-description {
  font-weight: 300;
  margin-top: 16px;
}

.section-contact__content-info {
  margin-block: 32px;
}

.section-contact__content-item:last-child {
  margin-top: 24px;
}

.section-contact__content-item {
  display: flex;
  gap: 16px;
  align-items: center;
}

.section-contact__content-item img {
  padding: 16px;
  border-radius: 8px;
  background-color: #f4edfe;
}

.section-contact__content-item p {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.section-contact__content-item p span:first-child {
  font-weight: 300;
  font-size: 14px;
  color: #556070;
}

.section-contact__content-socials {
  padding: 16px;
  border-radius: 16px;
  background-color: #f4edfe;
}

.section-contact__socials-list {
  display: flex;
  gap: 12px;
  position: relative;
  padding-left: 16px;
  margin-top: 16px;
  flex-wrap: wrap;
}

.section-contact__socials-list::after {
  position: absolute;
  content: "";
  width: 14px;
  height: 2px;
  background-color: #9249f2;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.section-contact__socials-item a {
  display: inline-flex;
  padding: 16px;
  border-radius: 100px;
  background-color: #ffffff;
  transition: hover 0.3s ease;
}

.section-contact__socials-icon {
  width: 16px;
  height: 16px;
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  background-color: #9249f2;
}

.section-contact__socials-item a:hover .section-contact__socials-icon {
  background-color: #ffffff;
}

.socials-icon--facebook {
  mask-image: url(../assets/icons/facebook.svg);
  -webkit-mask-image: url(../assets/icons/facebook.svg);
}

.socials-icon--twitter {
  mask-image: url(../assets/icons/twitter.svg);
  -webkit-mask-image: url(../assets/icons/twitter.svg);
}

.socials-icon--in {
  mask-image: url(../assets/icons/in.svg);
  -webkit-mask-image: url(../assets/icons/in.svg);
}

.socials-icon--instagram {
  mask-image: url(../assets/icons/instagram.svg);
  -webkit-mask-image: url(../assets/icons/instagram.svg);
}

.socials-icon--unsplash {
  mask-image: url(../assets/icons/unsplash.svg);
  -webkit-mask-image: url(../assets/icons/unsplash.svg);
}

.section-contact__socials-item a:hover {
  background-color: #9249f2;
}

.section-contact__form {
  display: flex;
  gap: 32px;
  flex-direction: column;
  width: 100%;
}

.section-contact__form-group {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 16px;
}

.section-contact__form-title {
  font-size: 24px;
}

.section-contact__form-item input,
.section-contact__form-item select,
.section-contact__form-item textarea {
  background-color: #ffffff;
  border: 1px solid #e6e8eb;
  border-radius: 6px;
  color: #87909d;
  min-height: 48px;
  width: 100%;
  padding: 12px 18px;
}

.span-12 {
  grid-column: span 12;
}

.span-6 {
  grid-column: span 6;
}

.section-contact__form-icon {
  width: 24px;
  height: 24px;
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  background-color: #ffffff;
  mask-image: url(../assets/icons/arrow-right-white.svg);
  -webkit-mask-image: url(../assets/icons/arrow-right-white.svg);
}

.section-contact__form-action button:hover .section-contact__form-icon {
  background-color: #9249f2;
}

.section-contact__form-action button {
  transition: hover 0.3s ease;
}

.section-contact__line {
  width: 100%;
  height: 1px;
  background-color: #e6e8eb;
}

@media (min-width: 768px) {
  /* section designer */
  .section-designer__socials {
    width: fit-content;
    left: 144px;
  }

  /* section project */
  .section-project__slider {
    right: -10%;
    gap: 24px;
  }

  .project-card {
    min-width: 450px;
  }

  /* award */

  .section-award__subtitle br {
    display: block;
  }

  .section-award__item {
    width: calc(424px - 24px * 2);
    margin-top: 0;
  }

  .section-award {
    padding-block: 124px;
  }

  /* section process */
  .section-process__subtitle br {
    display: block;
  }

  .section-process__item {
    width: calc(322px - 24px * 3 / 4);
  }

  .section-process {
    padding-block: 124px;
  }

  /* section hero */

  .section-hero__socials {
    padding-block: 64px;
  }

  .section-hero__title br,
  .section-hero__socials-intro br,
  .section-testimonial__subtitle br,
  .section-idea__title br,
  .section-idea__description br {
    display: block;
  }

  /* section services */
  .section-services {
    padding-block: 124px;
  }

  /* section power */

  .section-power__image-bg {
    width: 536px;
    height: 536px;
  }

  .section-designer__socials.only-power {
    bottom: -70px;
    left: 60px;
  }

  /* section contact */

  .section-contact {
    min-height: 1076px;
  }

  .section-contact__content-socials {
    padding: 32px;
  }

  .section-contact__socials-list::after {
    width: 24px;
  }

  .section-contact__socials-list {
    padding-left: 30px;
  }
}

@media (min-width: 980px) {
  /* section designer */
  .section-designer {
    padding-block: 124px;
  }

  /* services */

  .section-services .wrapper {
    flex-direction: row;
  }

  .section-services__cards {
    align-items: end;
  }

  /* section power */
  .section-power {
    padding-block: 124px;
  }

  .section-power .wrapper {
    flex-direction: row;
  }

  .section-power__content {
    max-width: 536px;
  }

  /* section contact */
  .section-contact .wrapper {
    flex-direction: row;
    padding: 56px;
    gap: 60px;
  }

  .section-contact__content {
    max-width: 424px;
  }

  .section-contact {
    min-height: 616px;
  }

  .section-contact__line {
    width: 1px;
    height: auto;
  }

  /* section articles */

  .section-articles {
    padding-block: 124px;
  }

  .section-articles__item {
    width: calc(429px - 24px * 2 / 3);
  }
}

@media (min-width: 1024px) {
  /* section hero */

  .section-hero .wrapper {
    flex-direction: row;
  }

  .section-hero__image img {
    width: 500px;
    height: 986px;
  }

  .section-hero__content {
    max-width: 554px;
    margin-top: 200px;
    flex: 1;
    text-align: start;
  }

  .section-hero__actions {
    justify-content: flex-start;
  }

  /* section designer */

  .section-designer .wrapper {
    flex-direction: row;
  }

  .section-designer__image-bg img {
    width: 576px;
    height: 658px;
  }

  .section-designer__content {
    max-width: 536px;
  }
}

@media (min-width: 1230px) {
  /* section hero */
  .section-hero__image img {
    width: 652px;
    height: 1086px;
  }

  /* section designer */
  .section-designer__image-bg img {
    width: 776px;
    height: 658px;
  }
}
