:root {
  /* Colors */
  --color-primary: #9249f2;
  --color-text: #132238;
  --color-text-100: #556070;
  --color-text-200: #424e60;
  --color-white: #ffffff;
  --color-line: #e6e8eb;
  --color-box-shadow: #1322381f;
  --color-background: #f4edfe;
  --color-background-100: #1777e5;
  --color-background-200: #2db24a;
  --color-background-300: #eaf7ed;
  --color-background-400: #ff5f49;
  --color-background-500: #ffd91a;

  /* Typography */
  --font-primary: "Sora-Regular", sans-serif;

  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.125rem;

  /* Radius */
  --radius-md: 12px;
  --radius-lg: 16px;
  --radius-xl: 100px;

  /* font weight */
  --font-weight-small: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
}
