:root {
  /* Colors */
  --color-primary: #da7068;
  --color-primary-100: #cf5955;
  --color-heading: #121314;
  --color-text: #233638;
  --color-white: #ffffff;
  --color-text-muted: #5e6971;
  --color-text-muted-100: #485057;
  --color-text-muted-200: #353a3e;
  --color-icon-bg: #faeeee;
  --color-heading-100: #f5f6f7;
  --color-icon-bg-100: #f5dedd;
  --color-icon-bg-200: #faedec80;
  --color-text-header: #7b848b;
  --color-line: #dfe3e5;

  /* Typography */
  --font-primary: "FiraSans", sans-serif;
  --font-primary-Medium: "FiraSans-Medium", sans-serif;
  --font-primary-SemiBold: "FiraSans-SemiBold", sans-serif;

  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.125rem;

  --font-size-64: 4rem;
  --font-size-46: 2.875rem;
  --font-size-30: 1.875rem;
  --font-size-32: 2rem;
  --font-size-40: 2.5rem;
  --font-size-28: 1.75rem;
  --font-size-26: 1.625rem;
  --font-size-22: 1.375rem;
  --font-size-20: 1.25rem;
  --font-size-18: 1.125rem;
  --font-size-14: 0.875rem;
  --font-size-12: 0.75rem;

  /* Spacing */
  --space-4: 0.25rem;
  --space-8: 0.5rem;
  --space-12: 0.75rem;
  --space-16: 1rem;
  --space-18: 1.125rem;
  --space-24: 1.5rem;
  --space-28: 1.75rem;
  --space-32: 2rem;
  --space-34: 2.125rem;
  --space-36: 2.25rem;
  --space-46: 2.875rem;
  --space-48: 3rem;
  --space-50: 3.125rem;
  --space-64: 4rem;
  --space-134: 8.375rem;

  /* Layout */
  --container-width: 1200px;
  --container-padding: 1rem;

  /* Radius */
  --radius-sm: 4px;
  --radius-md: 10px;
  --radius-lg: 12px;
  --radius-xl: 20px;
  --radius-xxl: 50%;

  /* Shadow */
  --shadow-sm: 0px 16px 26px 0px #00000012;
  --shadow-md: 0 8px 24px rgba(0, 0, 0, 0.12);
  --shadow-lg: 0px 0px 80px 0px #cbccbc40;

  /* Transition */
  --transition-base: 0.3s ease;

  /* Z-index */
  --z-dropdown: 100;
  --z-fixed: 1000;

  /* Logo */
  --logo-width-mobile: 38px;
  --logo-width-desktop: 48px;

  /* font weight */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;

  /* line height */
  --line-height-base: 1.5;
  --line-height-heading: 1.2;
  --line-height-74: 4.625;
}
